<%- layout('layouts/boilerplate') %> 
<% block('head').append(`
<link
  rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" />
<link
  rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
  type="text/css" />
<script
  defer
  src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
<script
  defer
  src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
<script
  defer
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script defer src="/js/clusterMap.js"></script>
<script defer src="/js/paginate.js"></script>
`) %>

<div id="cluster-map"></div>

<div class="container-lg mb-3">
  <h1 class="mt-4 mb-3">All Campgrounds</h1>
  <article
    class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 g-sm-3"
    id="campgrounds-container">
    <% for(let campground of campgrounds.docs){ %>
      <section>
        <div class="card mx-3 mx-sm-0">
          <img
            src="<%= campground.images.length ? campground.images[0].square :  'https://res.cloudinary.com/bartoszt/image/upload/q_100,w_600,ar_1:1,c_fill,g_center,x_0,y_0/v1615231919/yelp_camp.png'%>"
            alt="<%= campground.title %>'s picture"
            class="card-img-top campground-image" />
          <div class="card-body">
            <h3 class="card-title fs-4 text-truncate"><%= campground.title %></h3>
            <p class="card-text campground-description">
              <%= campground.description %>
            </p>
            <div class="text-muted text-truncate small">
              <%= campground.location %>
            </div>
          </div>
          <a
            href="/campgrounds/<%= campground._id %>"
            class="btn btn-primary rounded-0 rounded-bottom stretched-link text-truncate py-2">
            View <%= campground.title %>
          </a>
        </div>
      </section>
    <% } %>
  </article>
</div>

<div class="text-center my-5">
  <% if(campgrounds.docs && campgrounds.hasNextPage){ %>
    <a
      href="/campgrounds?page=<%= campgrounds.nextPage %>"
      class="btn btn-outline-primary btn-lg"
      id="paginate">
      View More
    </a>
  <% } %>
  <p id="end-of-data" class="lead <%= campgrounds.totalDocs ? 'd-none' : '' %>">
    No Campgrounds Found
  </p>
</div>

<script>
  const mapToken = "<%- process.env.MAPBOX_PUBLIC_TOKEN %>";
  const campgrounds = { features: <%- JSON.stringify(allCampgrounds) %> };
</script>
