<%- layout('layouts/boilerplate') %>
<% block('head').append('<link rel="stylesheet" href="/css/app.css">') %>
<% block('head').append('<script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>') %>
<% block('head').append('<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css">') %>
<% block('head').append('<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>') %>
<% block('head').append('<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">') %>

<div id="cluster-map"></div>
<div class="container my-5">
    <h1 class="display-4 mb-4 text-md-start text-center">All Campgrounds</h1>
    <% const mapData = [];
            for(let campground of campgrounds){
        mapData.push({
            _id: campground._id,
            geometry: campground.geometry,
            title: campground.title,
            properties: {
                popUpMarkup: campground.properties.popUpMarkup
            }
        }) %>
    <article class="card mb-3 mx-3 mx-md-0">
        <div class="row g-0">
            <div class="col-md-5 col-lg-4">
                <% if(campground.images.length){ %>
                    <img src="<%= campground.images[0].square %>" alt="" class="img-fluid">
                <% } else { %>
                    <img src="https://res.cloudinary.com/bartoszt/image/upload/q_100,w_600,ar_1:1,c_fill,g_center,x_0,y_0/v1615231919/yelp_camp.png"
                         alt="" class="img-fluid">
                <% } %>
            </div>
            <div class="col-md-7 col-lg-8">
                <div class="card-body">
                    <h5 class="card-title display-4 fs-3"><%= campground.title %></h5>
                    <p class="card-text"><%= campground.description.substr(0, 200) %>...</p>
                    <p class="card-text">
                        <small class="text-muted"><%= campground.location %></small>
                    </p>
                    <a href="/campgrounds/<%= campground._id %>"
                       class="btn btn-primary">View <%= campground.title %></a>
                </div>
            </div>
        </div>
    </article>
    <% } %>
</div>
<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    <!--const campgrounds = {features: %- JSON.stringify(campgrounds) %>}-->
    const campgrounds = {features: <%- JSON.stringify(mapData) %>}
</script>
<% block('footer').append('<script src="/js/clusterMap.js"></script>') %>
