<%- layout('layouts/boilerplate') %>

<div class="container-lg mb-5">
  <h1 class="my-3 text-sm-start text-center">User Profile</h1>
  <article class="row g-4">
    <section class="col-sm-6 col-md-5 col-lg-4">
      <div class="card mx-3 mx-sm-0">
        <img
          src="<%= user.profilePicture ? user.profilePicture.rounded : 
          'https://res.cloudinary.com/bartoszt/image/upload/c_fill,g_auto:face,r_max,w_500,ar_1:1/v1616588583/user_profile.png'
          %>"
          class="card-img-top w-50 m-auto pt-2"
          alt="<%= user.username %>'s picture" />
        <div class="card-body text-center">
          <h3 class="card-title fw-bolder"><%= user.username %></h3>
          <% if(user.name){ %>
            <p class="card-subtitle text-muted"><%= user.name %></p>
          <% } %>
        </div>

        <ul class="list-group list-group-flush">
          <% if(user.email.public){ %>
            <li class="list-group-item">
              <span>
                <span class="badge bg-primary">Email</span>
                <%= user.email.address %>
              </span>
            </li>
          <% } %>
          
          <% if(user.phoneNumber){ %>
            <li class="list-group-item">
              <span>
                <span class="badge bg-primary">Phone Number</span> 
                +<%= user.phoneNumber %>
              </span>
            </li>
          <% } %>

          <li class="list-group-item">
            <% if(user.bio){ %>
              <span class="badge bg-primary">Bio</span>
              <p class="d-inline"><%= user.bio %></p>
            <% } else { %>
              <span class="badge bg-primary">No user bio</span>
            <% } %>
          </li>
        </ul>

        <% if(currentUser && (currentUser.equals(user) || currentUser.isAdmin)){ %>
          <div class="card-footer">
            <div class="row g-2">
              <a href="/users/<%= user._id %>/edit" class="btn btn-primary">
                Edit Profile
              </a>
              <a
                href="/users/<%= user._id %>/change-password"
                class="btn btn-warning">
                Change Password
              </a>
              <button
                type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#delete-user">
                Delete User
              </button>
              <div
                class="modal fade"
                id="delete-user"
                tabindex="-1"
                aria-labelledby="delete-user"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="delete-user">Delete User</h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete your account permanently?
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-outline-secondary"
                        data-bs-dismiss="modal">
                        Close
                      </button>
                      <form
                        action="/users/<%= user._id %>?_method=DELETE"
                        method="POST">
                        <button class="btn btn-outline-danger">
                          Delete Account
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </section>

    <section class="col-sm-6 col-md-7 col-lg-8">
      <h2 class="mb-3 text-md-start text-center">
        <% if(user.campgrounds && user.campgrounds.length){ %>
          Campgrounds <%=user.username %> created
        <% } else { %>
          No campgrounds created
        <% } %>
      </h2>

      <article class="row row-cols-sm-1 row-cols-md-2 row-cols-xl-3 g-4 g-sm-3">
        <% for(let campground of user.campgrounds){ %>
          <section>
            <div class="card mx-3 mx-sm-0">
              <img
                src="<%= campground.images.length ? campground.images[0].square : 
                'https://res.cloudinary.com/bartoszt/image/upload/q_100,w_600,ar_1:1,c_fill,g_center,x_0,y_0/v1615231919/yelp_camp.png'
                %>"
                alt="<%= campground.title %>'s picture"
                class="card-img-top campground-image" />
              <div class="card-body text-truncate">
                <h3 class="card-title fs-4 text-truncate">
                  <%= campground.title %>
                </h3>
                <small class="text-muted"><%= campground.location %></small>
              </div>
              <a
                href="/campgrounds/<%= campground._id %>"
                class="btn btn-primary rounded-0 rounded-bottom stretched-link py-2">
                View
              </a>
            </div>
          </section>
        <% } %>
      </article>
    </section>
  </article>
</div>
